<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Projeto de C214 - Armazem MS">
    <meta name="author" content="Mariana e Sinara">
    <title>Armazem MS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/jumbotron/">
    <script src="/static/bootstrap/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/bootstrap/jquery-3.5.1.slim.min.js"><\/script>')</script>
    <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
    <link href="/static/bootstrap/jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/ver_cafeicultor.css">
    <script>$('#modalVer').modal('show');</script>
    <script>$('#modalExcluir').modal('show');</script>
</head>
<body>
    <nav class="navbar navbar-expand-md  fixed-top">
        <a class="nav-link" href="/admin">
            <i class="fas fa-home" aria-hidden="true"></i>
            Armazem MS
        </a>
        <div class="nav-button space">
            <i class="fas fa-user-circle" aria-hidden="true"></i>
            login do usuario
        </div>
        <button class="nav-button" id="sair">
            <i class="fas fa-sign-out-alt"></i>
            Sair
        </button>
        <script type="text/javascript">
            document.getElementById("sair").onclick = function () {
                location.href = "/";
            };
        </script>
    </nav>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="/cafeicultor/dadosPessoais" class="list-group-item list-group-item-action ">Dados Pessoais</a>
            <a href="http://cccmg.com.br/cotacao-do-cafe/" class="list-group-item list-group-item-action ">Cotacao do cafe</a>
        </div>
    </div>
     <!-- Conteúdo da página -->
    <div class="conteudo-div">
        <div class="mymodal container-fluid " id="modalVer" tabindex="-1" role="dialog"
            aria-labelledby="verModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id=modV>
                    <div class="modal-header">
                        <h5 class="modal-title" id="verModalLabel">
                            NomeCafeilcutor - CPF
                        </h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label>Contato:</label>
                            <div class="form-row  ">
                                <div class="form-group col-md-2  ver-div">
                                    <i class="fas fa-phone " id="contato-icon-first"></i>
                                    <input disabled class="form-control " id="contato-bar-first" placeholder="Telefone">
                                </div>
                                <div class="form-group col-md-5  ver-div">
                                    <i class="fas fa-envelope" id="contato-icon-second"></i>
                                    <input disabled class="form-control " id="contato-bar-second" placeholder="Email">
                                </div>
                            </div>
                            <label>Endereco:</label>
                            <div class="form-row">
                                <div class="form-group col-md-6 ver-div">
                                    <i class="fas fa-map-marked-alt" id="endereco-icon-first"></i>
                                    <input disabled class="form-control" id="endereco-bar-first"
                                        placeholder="Rua, numero">
                                </div>
                                <div class="form-group col-md-4 ver-div">
                                    <input disabled class="form-control" id="endereco-bar-second" placeholder="Cidade">
                                </div>
                            </div>
                            <label>Dados bancarios:</label>
                            <div class="form-row">
                                <div class="form-group col-md-4 ver-div">
                                    <i class="fas fa-university" id="banco-icon-first"></i>
                                    <input disabled class="form-control " id="banco-bar-first" placeholder="Banco">
                                </div>

                                <div class="form-group col-md-3 ver-div">
                                    <input disabled class="form-control" id="banco-bar-second"
                                        placeholder="Agencia Bancaria">
                                </div>

                                <div class="form-group col-md-3 ver-div">
                                    <i class="fas fa-money-check-alt" id="banco-icon-second"></i>
                                    <input disabled class="form-control" id="banco-bar-third"
                                        placeholder="Numero da Conta">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-footer" data-dismiss="modal" id="voltar">Voltar</button>
                        <script type="text/javascript">
                        document.getElementById("voltar").onclick = function () {
                            location.href = "/cafeicultor";
                        };
                    </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade mymodal container-fluid " id="modalExcluir" tabindex="-1" role="dialog"
            aria-labelledby="verModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id=modE>
                    <form method="post">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Excluir Cafeicultor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <p>Voce tem certeza que deseja excluir esse cafeicultor do sistema?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button> 
                        </div>
                    </form>
                </div>
            </div>
         </div>
    </div>
    <footer class="rodape">
        <p class="text-center">&copy; Armazem-MS (Build 20201110 - 2300)</p>
    </footer>
</html>