<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Projeto de C214 - Armazem MS">
  <meta name="author" content="Mariana e Sinara">
  <title>Armazem MS</title>
  <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
  <div id="logo">
    <img src="/static/images/logo_transparent.png" width="200px" height="200px">
  </div>
  <!-- Conteúdo da página -->
  <div class="form">
    <h3>ALTERAR SENHA</h3>
    <form method=post>
      <input type="email" placeholder="Entre com seu email" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">

      <input type="password" placeholder="Entre com sua nova senha" id="exampleInputPassword1" name="senha">
      <small id="emailHelp" class="form-text text-muted">*Voce nao deve compartilhar sua senha com outras
        pessoas.</small>
      <br></br>
      <button type="submit" class="btn btn-primary">Confirmar</button>
    </form>
  </div>
  <footer class="rodape">
    <p class="text-center">&copy; Armazem-MS (Build 20201110 - 2300)</p>
  </footer>
</body>
</html>